.builderCss {
  font-family: 'Roboto', sans-serif;
}
.builderCss h1 {
  font-family: BigNoodleTitling;
  font-size: 8vw;
  color: #FFFFFF;
}
.builderCss h2 {
  font-family: BigNoodleTitling;
  font-size: 50px;
  color: #122E48;
  margin-bottom: 15px;
  letter-spacing: 4px;
}
.builderCss h2.center {
  text-align: center;
}
.builderCss h2.white {
  color: #FFF;
}
.builderCss h2.high {
  margin-bottom: 60px;
}
.builderCss h3 {
  font-size: 16px;
  color: #122E48;
  font-weight: normal;
}
.builderCss h4 {
  font-family: BigNoodleTitling;
  font-size: 20px;
  color: #00BA95;
  /* Salmon design: */
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}
.builderCss .container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 6%;
}
.builderCss a {
  text-decoration: none;
}
.builderCss .btn {
  color: #FFFFFF;
  padding: 15px 25px;
  margin-right: 40px;
  opacity: 0.7;
  transition: all 0.2s ease-out;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  background: none;
  border: none;
}
.builderCss .btn.btn-primary {
  background: #00BA95;
}
.builderCss .btn.btn-primary2 {
  background: #122E48;
}
.builderCss .btn.btn-secondary {
  border: solid 1px #122E48;
}
.builderCss .btn:hover {
  opacity: 1;
  cursor: pointer;
}
.builderCss #pageContent {
  min-height: calc(100vh - 108px);
  background-color: #F9FAFB;
  z-index: 0;
  padding-top: 40px;
  overflow: hidden;
}
.builderCss #pageContent.pageHeader {
  min-height: calc(100vh - 193px);
}
.builderCss #pageContent #newCard {
  background: #FFFFFF;
  border: 1px dashed #E3E7EB;
  color: #999FA3;
  font-size: 16px;
  line-height: 280px;
  height: 280px;
  text-align: center;
  transition: all 0.2s ease-out;
}
.builderCss #pageContent #newCard a {
  display: block;
  width: 100%;
  height: 100%;
}
.builderCss #pageContent #newCard:hover {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.4);
}
.builderCss #pageContent .resumeCard {
  background: #FFFFFF;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.08);
  height: 280px;
}
.builderCss #pageContent .resumeCard .btn {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: calc(100% - 50px);
  margin-bottom: 0;
}
.builderCss #pageContent .resumeCard .cardHeader {
  padding: 20px 30px;
  line-height: 24px;
}
.builderCss #pageContent .resumeCard .cardHeader h3 {
  width: calc(100% - 24px);
}
.builderCss #pageContent .resumeCard .cardHeader .iconRight {
  float: right;
}
.builderCss .block {
  padding: 60px 0px;
}
.builderCss .gradient {
  background: linear-gradient(135deg, #00BA95 0%, #00919F 100%);
}
.builderCss .grey {
  background: #EAF1F2;
}
.builderCss #header {
  height: 52px;
  padding-top: 16px;
  z-index: 3;
  border-bottom: solid 1px #EAF1F2;
}
.builderCss #header img {
  width: 90px;
  float: left;
}
.builderCss #header .rightNav {
  float: right;
}
.builderCss #header .rightNav li a {
  color: #999FA3;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.8;
}
.builderCss #header .rightNav li a:hover {
  opacity: 1;
  cursor: pointer;
}
.builderCss #header.landing {
  height: 38px;
  padding-top: 30px;
  border: none;
}
.builderCss #header.landing li a {
  color: #FFF;
}
.builderCss .flex-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.builderCss .flex-grid .col {
  flex: 0 1 32%;
  margin-bottom: 15px;
}
.builderCss .flex-grid:after {
  content: "";
  flex-basis: 32%;
}
.builderCss #welcome {
  background-image: linear-gradient(133deg, #1F4160 0%, #122E48 99%);
  box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.4);
  padding-top: 24px;
  z-index: 2;
}
.builderCss #welcome .appQuote {
  background: #FFFFFF;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  bottom: -15px;
}
.builderCss #topBlock {
  height: 100vh;
}
.builderCss #topBlock #tagline {
  margin-top: 20vh;
  z-index: 1;
}
.builderCss #topBlock #tagline p {
  font-family: BigNoodleTitling;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 20px;
}
.builderCss #topBlock #topImg {
  width: 60vw;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.builderCss #stepsBlock {
  overflow: hidden;
}
.builderCss #stepsBlock ul li {
  float: left;
  width: 33.33%;
  text-align: center;
}
.builderCss #stepsBlock ul li img {
  width: 120px;
  margin-bottom: 16px;
}
.builderCss #stepsBlock ul li p {
  font-size: 16px;
  color: #999FA3;
  text-align: center;
}
.builderCss #designsBlock {
  overflow: hidden;
}
.builderCss #designsBlock img {
  float: left;
  bottom: 0;
  width: 45%;
  margin-bottom: -60px;
}
.builderCss #designsBlock .right {
  float: right;
  width: 50%;
  margin-top: 40px;
}
.builderCss #designsBlock .right .quote {
  font-size: 14px;
  color: #999FA3;
  line-height: 28px;
  font-style: italic;
}
.builderCss #footer {
  background-color: #122E48;
}
@media only screen and (max-width: 600px) {
  .builderCss #topBlock #tagline h1 {
    font-size: 14vw;
  }
  .builderCss #stepsBlock ul li img {
    width: 90px;
  }
  .builderCss #designsBlock img {
    float: none;
    width: 60%;
    margin: 0 20% -60px;
  }
  .builderCss #designsBlock .right {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    float: none;
  }
}
@media only screen and (max-width: 415px) {
  .builderCss h2 {
    font-size: 6vw;
  }
  .builderCss #topBlock #tagline {
    margin-top: 8vh;
  }
  .builderCss #topBlock #topImg {
    width: 115vw;
  }
  .builderCss #stepsBlock ul li {
    float: none;
    width: 100%;
    margin-bottom: 50px;
  }
  .builderCss #stepsBlock ul li img {
    width: 120px;
  }
  .builderCss #designsBlock img {
    width: 100%;
    margin: 0 0% -60px;
  }
}
