h1 {
  font-size: 30px;
  font-weight: normal;
}
form .inline input {
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  color: #122E48;
  margin-bottom: 15px;
  letter-spacing: 4px;
  background: none;
  border: none;
  padding: 0;
}
form .inline input:focus {
  outline: none;
  border: none;
}
form h3 {
  margin-bottom: 5px;
  border-bottom: 1px solid #E3E7EB;
  padding: 25px 6%;
}
form .half {
  width: 48%;
  float: left;
  z-index: 1;
}
form .half.left {
  margin-right: 2%;
}
form .half.right {
  margin-left: 2%;
}
form .whole {
  width: 100%;
}
form .addItem {
  background-color: #F9FAFB;
  border: 1px solid #EAF1F2;
  overflow: hidden;
  padding: 20px;
  margin-top: 10px;
}
form .error {
  color: #D15A3C;
  display: inline-block;
  padding: 5px 0px 0px;
  font-size: 12px;
}
form .has-danger .error {
  float: right;
}
form .has-danger input,
form .has-danger textarea,
form .has-danger .rw-drowpdown-list {
  border: solid 1px #D15A3C;
}
form label {
  display: inline-block;
  padding: 5px 0px 0px;
  font-size: 12px;
}
form input,
form textarea,
form .rw-dropdown-list {
  padding: 10px 10px;
  margin: 5px 0px;
  width: calc(100% - 20px);
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #E3E7EB;
}
form input:focus,
form textarea:focus,
form .rw-dropdown-list:focus {
  border: solid 1px purple;
}
form button {
  margin: 5px 0px;
  border: none;
  background: none;
}
form button .floatingBtn {
  margin: 10px 10px 10px 0px;
  padding: 2px;
  background-color: #00BA95;
  color: #FFF;
  border-radius: 20px;
}
form button .btnLabel {
  top: -7px;
}
form button:focus {
  outline: none;
}
form .saveBtn {
  padding: 10px 20px;
  background-color: #00919F;
  color: #fff;
  margin: 20px 0px;
  float: right;
}
form #formContent .tabs {
  width: 200px;
  float: left;
  margin-top: 28px;
}
form #formContent .tabs li {
  margin-bottom: 20px;
  color: #6D7A82;
  font-size: 14px;
}
form #formContent .tabs li .number {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  margin-right: 10px;
  border-radius: 12px;
  font-size: 10px;
  font-weight: bold;
}
form #formContent .tabs li:hover {
  cursor: pointer;
  color: #272B2D;
}
form #formContent .tabs li.active {
  color: #272B2D;
}
form #formContent .tabs li.active .number {
  background-color: #122E48;
  color: #FFF;
}
form #formContent .tabs li.done .number {
  color: #00BA95;
}
form #formContent .tabs li.done.active .number {
  background-color: #00BA95;
  color: #FFF;
}
form #formContent .rightContent {
  background: #FFFFFF;
  border: 1px solid #F3F5F6;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  border: 1px solid #E3E7EB;
  float: right;
  width: calc(100% - 262px);
  padding-bottom: 30px;
}
